
<template>
    <div class="row">
        <div class="col-md-12 col-md-12 col-md-12 col-md-12">
            <div class="panel panel-default ">

                <div class="panel-heading">
                    Jukebox Selections  
                    <span class="panel-heading-buttons">
                <button class="btn btn-info btn-mini" data-toggle="modal" data-target="#new-selection-modal">New</button>
            </span>
                </div>

                <div class="panel-body">
                    <table class="table table-condensed table-hover">
                        <thead>
                            <tr>
                                <th>Song A1</th>
                                <th></th>
                                <th>Song A2</th>
                                <th></th>
                                <th>Song B1</th>
                                <th></th>
                                <th>Song B2</th>
                                <th></th>
                                <th>Artist 1</th>
                                <th></th>
                                <th>Artist 2</th>
                                <th></th>
                                <th>Music Cat</th>
                                <th></th>
                                <th>Archived</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr repeat.for="jbselection of mapJukeboxSelections" class="pointer">
                                <td>${jbselection.A1Song}</td>
                                <td></td>
                                <td>${jbselection.A2Song}</td>
                                <td></td>
                                <td>${jbselection.B1Song}</td>
                                <td></td>
                                <td>${jbselection.B2Song}</td>
                                <td></td>
                                <td>${jbselection.Artist1}</td>
                                <td></td>
                                <td>${jbselection.Artist2}</td>
                                <td></td>
                                <td>${jbselection.MusicCategory}</td>
                                <td></td>
                                <td>${jbselection.Archived}</td>
                                <td><button type="button" class="btn btn-xs" style="float: right;background-color: mistyrose"
                                        click.trigger="deleteSelection(jbselection)">Delete</button></td>
                                <td><button class="btn btn-xs" style="float: right;background-color: mistyrose" click.trigger="editSelection(jbselection)">Restore</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</template>