<template>
    <div class="row">
        <div class="col-md-12 col-md-12 col-md-12 col-md-12">
            <div class="panel panel-default ">

                <div class="panel-heading">
                    Jukebox Selections  
                    <span class="panel-heading-buttons">
                <button class="btn btn-info btn-mini" data-toggle="modal" data-target="#new-selection-modal">New</button>
            </span>
                </div>

                <div class="panel-body">
                    <table class="table table-condensed table-hover">
                        <thead>
                            <tr>
                                <th>Jb Letter</th>
                                <th></th>
                                <th>Jb A Nr</th>
                                <th></th>
                                <th>Jb B Nr</th>
                                <th></th>
                                <th>Record Nr</th>
                                <th></th>
                                <th>Song A1</th>
                                <th></th>
                                <th>Song A2</th>
                                <th></th>
                                <th>Song B1</th>
                                <th></th>
                                <th>Song B2</th>
                                <th></th>
                                <th>Artist 1</th>
                                <th></th>
                                <th>Artist 2</th>
                                <th></th>
                                <th>Music Cat</th>
                                <th></th>
                                <th>Archived</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr repeat.for="jbselection of mapJukeboxSelections" class="pointer">
                                <td>${jbselection.JbLetter}</td>
                                <td></td>
                                <td>${jbselection.JbNumberA}</td>
                                <td></td>
                                <td>${jbselection.JbNumberB}</td>
                                <td></td>
                                <td>${jbselection.JbNumeric}</td>
                                <td></td>
                                <td>${jbselection.A1Song}</td>
                                <td></td>
                                <td>${jbselection.A2Song}</td>
                                <td></td>
                                <td>${jbselection.B1Song}</td>
                                <td></td>
                                <td>${jbselection.B2Song}</td>
                                <td></td>
                                <td>${jbselection.Artist1}</td>
                                <td></td>
                                <td>${jbselection.Artist2}</td>
                                <td></td>
                                <td>${jbselection.MusicCategory}</td>
                                <td></td>
                                <td>${jbselection.Archived}</td>
                                <td><button type="button" class="btn btn-xs" style="float: right;background-color: mistyrose"
                                        click.trigger="deleteSelection(jbselection)">Delete</button></td>
                                <td><button type="button" class="btn btn-xs" style="float: right;background-color: mistyrose"
                                        click.trigger="archiveSelection(jbselection)">Archive</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="new-selection-modal" tabindex="-1" role="dialog" aria-labelledby="new-selection-modal">
        <div class="modal-dialog modal-md" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">New Selection</h4>
                </div>
                <form id="new-selection-form">
                    <div class="modal-body">

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="txtJbLetter">Selection Letter</label>
                                    <input maxlength="1" type="text" class="form-control" value.bind="insert_JbLetter"
                                        autofocus />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="txtJbNumberA">Selection A Nr</label>
                                    <input maxlength="2" type="text" class="form-control" value.bind="insert_JbNumberA"
                                        autofocus />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="txtJbNumberB">Selection B Nr</label>
                                    <input maxlength="2" type="text" class="form-control" value.bind="insert_JbNumberB"
                                        autofocus />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="txtJbNumberic">Record Nr</label>
                                    <input maxlength="3" type="text" class="form-control" value.bind="insert_JbNumeric"
                                        autofocus />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="txtJbA1Song">Song A1</label>
                                    <input maxlength="45" type="text" class="form-control" value.bind="insert_A1Song"
                                        autofocus />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="txtJbA2Song">Song A2</label>
                                    <input maxlength="45" type="text" class="form-control" value.bind="insert_A2Song"
                                        autofocus />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="txtJbB1Song">Song B1</label>
                                    <input maxlength="45" type="text" class="form-control" value.bind="insert_B1Song"
                                        autofocus />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="txtJbB2Song">Song B2</label>
                                    <input maxlength="45" type="text" class="form-control" value.bind="insert_B2Song"
                                        autofocus />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="txtJbArtist1">Artist 1</label>
                                    <input maxlength="45" type="text" class="form-control" value.bind="insert_Artist1"
                                        autofocus />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="txtJbArtist2">Artist 2</label>
                                    <input maxlength="45" type="text" class="form-control" value.bind="insert_Artist2"
                                        autofocus />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="txtImageStripTemplate">Strip Template</label>
                                    <input maxlength="255" type="text" class="form-control" value.bind="insert_ImageStripTemplate"
                                        autofocus />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="txtMusicCategory">Music Category</label>
                                    <input maxlength="45" type="text" class="form-control" value.bind="insert_MusicCategory"
                                        autofocus />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="txtDiscogsLink">Discogs Link</label>
                                    <input maxlength="1024" type="text" class="form-control" value.bind="insert_DiscogsLink"
                                        autofocus />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="txtSpotifyUri">Spotify Uri</label>
                                    <input maxlength="1024" type="text" class="form-control" value.bind="insert_SpotifyUri"
                                        autofocus />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label for="txtArchived">Archived</label>
                                    <input type="checkbox" class="form-control" value.bind="insert_Archived" autofocus />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" click.trigger="insertSelection()">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


</template>