<template>
  <require from="components/date-picker"></require>
  
  <section class="au-animate">
    <h2>${heading}</h2>
      <div class="row">
            <div repeat.for="i of 5"><img src="/src/Resources/Images/jukecard-green-300x100.png" style="float: left; margin-right: 2px;" /></div>
             <p style="clear: both;">
            <div repeat.for="i of 5"><img src="/src/Resources/Images/jukecard-orange-300x100.png" style="float: left; margin-right: 2px;" /></div>
             <p style="clear: both;">
            <div repeat.for="i of 5"><img src="/src/Resources/Images/jukecard-lightgreen-300x100.png" style="float: left; margin-right: 2px;" /></div>
             <p style="clear: both;">
            <div repeat.for="i of 5"><img src="/src/Resources/Images/jukecard-lightgreen-300x100-v2.png" style="float: left; margin-right: 2px;" /></div>
            
      </div>
  </section>
</template>
