<template>
  <require from="components/date-picker"></require>
  
  <section class="au-animate">
    <h2>${heading}</h2>
      <div class="row">
        <div class="col-xs-12">
        <button class="btn btn-primary btn-responsive" click.delegate="cancel()">Cancel</button>
        <!--<button class="btn btn-default" type="submit" click.delegate="cancel()">Cancel</button>-->
      </div> 
      <div class="image" style="margin-left: 12px">
            <!--<div repeat.for="i of 100"><img src="../../assets/images/jukecard-green-300x100.png" style="float: left; margin-right: 2px;" /></div>
             <p style="clear: both;">-->
            <!--<div repeat.for="i of 10"><img src="../../assets/images/jukecard-orange-300x100.png" style="float: left; margin-right: 2px;" /></div>
             <p style="clear: both;">-->
            <div repeat.for="i of 100"><img src="../../assets/images/jukecard-lightgreen-300x100.png" style="float: left; margin-right: 2px;">
                <ia1><span>ABBA</span></ia1>
            </div>
             <p style="clear: both;">
            <!--<div repeat.for="i of 10"><img src="../../assets/images/jukecard-lightgreen-300x100-v2.png" style="float: left; margin-right: 2px;" /></div>-->
            
      </div>
  </section>
</template>
