<template>
  <require from="components/date-picker"></require>
  
  <section class="au-animate">
    <h2>${heading}</h2>
      <div class="row">
        <button type="button" name="cancelrec" click.delegate="cancel()"><label for="cancelrec" onclick="">Cancel</button>
      </div> 
      <div class="row">
            <div repeat.for="i of 5"><img src="~/../../../../resources/images/jukecard-green-300x100.png" runat=server style="float: left; margin-right: 2px;" /></div>
             <p style="clear: both;">
            <div repeat.for="i of 5"><img src="/src/Resources/Images/jukecard-orange-300x100.png" runat="server" style="float: left; margin-right: 2px;" /></div>
             <p style="clear: both;">
            <div repeat.for="i of 5"><img src="/src/Resources/Images/jukecard-lightgreen-300x100.png" runat="server" style="float: left; margin-right: 2px;" /></div>
             <p style="clear: both;">
            <div repeat.for="i of 5"><img src="/src/Resources/Images/jukecard-lightgreen-300x100-v2.png" runat="server" style="float: left; margin-right: 2px;" /></div>
            
      </div>
  </section>
</template>
