<template>
  <require from="components/date-picker"></require>
  
  <section class="au-animate">
    <h2>${heading}</h2>
      <div class="row" style="margin-left: 12px">
            <!--<div repeat.for="i of 100"><img src="../../assets/images/jukecard-green-300x100.png" style="float: left; margin-right: 2px;" /></div>
             <p style="clear: both;">-->
            <!--<div repeat.for="i of 10"><img src="../../assets/images/jukecard-orange-300x100.png" style="float: left; margin-right: 2px;" /></div>
             <p style="clear: both;">-->
            <div repeat.for="jbselection of mapJukeboxSelections" class="pointer">
              <div hammer-press.call="handlePress($event,jbselection)">
                <!--<div hammer-hold.call="handleHold($event)">-->
                  <img src="${getImagePath(jbselection)}"  style="float: left; margin-right: 2px;"/>
                <!--</div>-->
              </div>
            </div>
             <p style="clear: both;">
            <!--<div repeat.for="i of 10"><img src="../../assets/images/jukecard-lightgreen-300x100-v2.png" style="float: left; margin-right: 2px;" /></div>-->
            
      </div>

      <div class="modal fade" id="play-jukebox-modal" tabindex="-1" role="dialog" aria-labelledby="play-jukebox-modal">
          <div class="modal-dialog modal-sm" role="document">
              <div class="modal-content">
                  <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <h4 class="modal-title">Play Song</h4>
                  </div>
                  <form id="play-jukebox-form">
                      <div class="modal-body">

                          <div class="row">
                            <div class="col-xs-6">
                              <button click.trigger="playSongOnJukebox(jbLetter,jbNumberA)" class="btn btn-info btn-lg">
                                <p><i class="fa fa-play-circle"></i> ${selectedA}</p>
                              </a>        
                            </div>
                          </div>
                          <br/>
                          <div class="row">
                            <div class="col-xs-6">
                              <button click.trigger="playSongOnJukebox(jbLetter,jbNumberB)" class="btn btn-info btn-lg">
                                <p><i class="fa fa-play-circle"></i> ${selectedB}</p>
                              </a>        
                            </div>                          
                          </div>
                      </div>

                      <div class="modal-footer">
                      </div>
                  </form>
              </div>
          </div>
      </div>
      
  </section>
</template>
