<template>
  <require from="components/date-picker"></require>
  
  <section class="au-animate">
    <h2>${heading}</h2>
      <div class="row">
        <div class="col-xs-12">
        </div>
      </div> 
      <div class="row" style="margin-left: 12px">
            <div repeat.for="jbselection of mapJukeboxSelections" class="pointer">
              <!--<div hammer-press.call="handlePress($event,jbselection)">-->
                  <img src="${getImagePath(jbselection)}" click.trigger="openPlaySongDlg($event,jbselection)" style="float: left; margin-right: 2px;"/>
              <!--</div>-->
            </div>
             <p style="clear: both;">
            
      </div>

      <!--<div class="modal fade" id="play-spotify-modal" tabindex="-1" role="dialog" aria-labelledby="play-spotify-modal">
          <div class="modal-dialog modal-sm" role="document">
              <div class="modal-content">
                  <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <h4 class="modal-title">Play Song</h4>
                  </div>
                  <form id="play-spotify-form">
                      <div class="modal-body">

                          <div class="row">
                            <div class="col-xs-6">
                              <button click.trigger="playSongOnSpotify(artist1,selectedA,1)" class="btn btn-info btn-lg">
                                <p><i class="fa fa-play-circle"></i> ${selectedA}</p>
                              </a>        
                            </div>
                          </div>
                          <br/>
                          <div class="row">
                            <div class="col-xs-6">
                              <button click.trigger="playSongOnSpotify(artist1,selectedB,1)" class="btn btn-info btn-lg">
                                <p><i class="fa fa-play-circle"></i> ${selectedB}</p>
                              </a>        
                            </div>                          
                          </div>
                          <br/>
                          <div class="row">
                            <div class="col-xs-6">
                              <input type="checkbox" name="que" value="true" checked="true"> Add To Que
                            </div>                          
                          </div>
                      </div>

                      <div class="modal-footer">
                      </div>
                  </form>
              </div>
          </div>
      </div>-->
      
  </section>
</template>
