
<template>
  <ai-dialog>
    <ai-dialog-header>
      <h1 style="font-size:24px;">Play song</h1>
    </ai-dialog-header>
      
    <ai-dialog-body>
      <div>
        <button click.trigger="front()" class="btn btn-info btn-lg">
          <i class="fa fa-play-circle"> ${sideA}</i> 
        </a>        
      </div>
      <br>
      <div>
        <button click.trigger="back()" class="btn btn-info btn-lg">
          <i class="fa fa-play-circle"> ${sideB}</i>
        </a>        
      </div>
      <br>
      <div>
        <input type="checkbox" name="que" value="true" checked="true"> Add To Que
      </div>
    </ai-dialog-body>

    <ai-dialog-footer>
    </ai-dialog-footer>
  </ai-dialog>
  
  
  <style>
    ai-dialog-overlay.active {
      background-color: black;
      opacity: .5;
  }
  </style>

</template>    